@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");

.navbar {
    width: 80%;
    margin: 30px auto;
    padding: 15px 30px;
    background-color: white;
    border-radius: 55px;
    box-shadow: 0px 0px 5px 3px black;
    .container {
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    &__logo {
      color: black;
      font-size: 1.5em;
      display: flex;
      align-items: center;
      // font-family: Rubik Bubbles;
      font-family: Goldman;
    }
    &__menu {
      display: flex;
      align-items: center;
      gap: 3em;
  
      &__link {
        text-decoration: none;
        font-size: 1em;
        color: black;
        font-family: "Goldman", sans-serif;
      }
  
      &__icon {
        position: relative;
        display: none;
        &__exit{
            display: none;
        }
      }
  
      &__dropdown {
        position: absolute;
        width: 150px;
        height: 160px;
        background-color: black;
        top: 60px;
        right: 0px;
        border-radius: 10px;
        display: none;
  
        &__list{
          display: flex;
          flex-direction: column;
        font-family: "Goldman", sans-serif;
          &__item{
              list-style: none;
              padding: 10px 20px;
              &__link{
                  color: white;
                  text-decoration: none;
                  font-size: 1em;
              }
          }
        }
      }
    }
  }
  
  // tablet
  @media only screen and (min-width: 321px) and (max-width: 768px) {
    .navbar {
      padding: 10px 30px;
      &__menu {
        &__link {
          display: none;
        }
        &__icon {
          display: block;
        }
        &__icon:hover &__dropdown {
          display: block;
        }
      }
    }
  }
  
  //Phone
  
  @media only screen and (max-width: 320px) {
    .navbar {
        padding: 10px 30px;
        width: 90%;
        &__logo{
           img{
            width: 30px;
           }
           h1{
            font-size: 30px;
           }
           
        }
        &__menu {
          &__link {
            display: none;
          }
          &__icon {
            display: block;
            img{
                width: 30px;
            }
            
          }
          &__dropdown{
            width: 110px;
            height: 120px;
            &__list{
                &__item{
                    padding: 5px 0px 5px 10px;
                    &__link{
                        font-size: 13px;
                    }
                }
            }
        }
          &__icon:hover &__dropdown {
            display: block;
          }
        }
      }
  }
  