@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}
.navbar {
  width: 80%;
  margin: 30px auto;
  padding: 15px 30px;
  background-color: white;
  border-radius: 55px;
  box-shadow: 0px 0px 5px 3px black;
  .container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    color: black;
    font-size: 1.5em;
    font-family: Rubik Bubbles;
  }
  &__menu {
    display: flex;
    align-items: center;
    gap: 2em;

    &__link {
      text-decoration: none;
      font-size: 1em;
      color: black;
      font-family: "Goldman", sans-serif;
    }

    &__icon {
      position: relative;
      display: none;
    }

    &__dropdown {
      position: absolute;
      width: 150px;
      height: 25vh;
      background-color: black;
      top: 60px;
      right: 0px;
      border-radius: 10px;
      display: none;

      &__list{
        display: flex;
        flex-direction: column;
      font-family: "Goldman", sans-serif;
        &__item{
            list-style: none;
            padding: 10px 20px;
            &__link{
                color: white;
                text-decoration: none;
                font-size: 1em;
            }
        }
      }
    }
  }
}

// tablet
@media only screen and (min-width: 321px) and (max-width: 768px) {
  .navbar {
    padding: 10px 30px;
    &__menu {
      &__link {
        display: none;
      }
      &__icon {
        display: block;
      }
      &__icon:hover &__dropdown {
        display: block;
      }
    }
  }
}

//Phone

@media only screen and (max-width: 320px) {
}
