@use "nav";
@use "main";
@use "frontend";
@use "backend";
@use "footer";
@use "./scss/back-end";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  padding-top: 1px;
  margin-bottom: 80px;
  height: 100vh;
}
.header:hover .navbar__menu__link:nth-child(1){
text-decoration: underline;
}