@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.java {
  .navbar {
    width: 100%;
    margin: 30px auto;
    border: none;
    box-shadow: none;
    background-color: #ffffff;
    border-radius: 55px;
    .container {
        width: 90%;
      margin: auto;
      justify-content: space-between;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__logo {
      border: 1px solid black;
      box-shadow: 0px 0px 5px 3px black;
      background-color: white;
      border-radius: 55px;
      padding: 0px 30px;
      color: black;
      font-size: 1.5em;
      display: flex;
      align-items: center;
      // font-family: Rubik Bubbles;
      font-family: Goldman;
    }
    &__menu {
      display: flex;
      align-items: center;
      gap: 3em;

      &__link {
        border: 1px solid black;

        box-shadow: 0px 0px 5px 3px black;
        background-color: white;
        border-radius: 55px;
        padding: 15px 30px;
        text-decoration: none;
        font-size: 1.1em;
        color: black;
        font-family: "Goldman", sans-serif;
      }

      &__icon{
        display: none;
      }
      
    }
  }
}


@media only screen and (min-width: 321px) and (max-width: 768px) {
    .navbar {
      // padding: 10px 30px;
      &__logo{
        h1{
          width:80px;
          font-size: 35px;
          img{
            width: 35px;
          }
        }
      }
      &__menu {
        font-size: 14px;
        &__link {
          width: 100px;
        }
        &__icon {
          display: none;
        }
      }
    }
  }
  
  @media only screen and (max-width: 321px) {
    .navbar {
      // padding: 10px 30px;
      &__logo{
        h1{
          width:80px;
          font-size: 35px;
          img{
            width: 35px;
          }
        }
      }
      &__menu {
        font-size: 14px;
        &__link {
          width: 100px;
        }
        &__icon {
          display: none;
        }
      }
    }
  }

  html, body { 
    height: 100%; 
    font-family: 'Ubuntu', sans-serif; 
  } 
  
  .gfg { 
    height: 50px; 
    width: 50px; 
  
  } 
  
  .mynav { 
    color: #fff; 
  } 
  
  .mynav li a { 
    color: #fff; 
    text-decoration: none; 
    width: 100%; 
    display: block; 
    border-radius: 5px; 
    padding: 8px 5px; 
  } 
  
  .mynav li a.active { 
    background: rgba(255, 255, 255, 0.2); 
  } 
  
  .mynav li a:hover { 
    background: rgba(255, 255, 255, 0.2); 
  } 
  
  .mynav li a i { 
    width: 25px; 
    text-align: center; 
  } 
  
  .notification-badge { 
    background-color: rgba(255, 255, 255, 0.7); 
    float: right; 
    color: #222; 
    font-size: 14px; 
    padding: 0px 8px; 
    border-radius: 2px; 
  }
  
  

  #bdSidebar{
    margin-top: 60px;
  } 
  

  .flex-fill{
    margin-top: 50px;
  }
  .navbar{
    position: fixed;
    top: 0;
    z-index: 1;
  }

  #theme{
    position: fixed;
  }


  .dropdownx{
    width: 100%;
    display: none;
  }
 

  @media only screen and (max-width:767px) {
    .dropdownx{
      z-index: 100;
      position: fixed;
      display: block;
    }
   
 
    .aside_content{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 40px;
      background-color: #222;
    }
    .navbar{
    z-index: 1000;
   }
    .flex-fill{
      margin-left: 0px;
      margin-top: 65px;
      z-index: 1;
    }
    #theme{

    }
    #bdSidebar{
      z-index: 100;
      width: 100%;

    } 

    // .saibardr{
    //   display: block;
    //  &__img{
    // width: 100px;
    //  }

    //  #bdSidebar{
    //   display: none;
    //  }
     

    // }

    // .saibardr:hover .bdSidebar2{
    //   display: flex;
    // }

  }
  .dropdown {
    position: relative;
    top: 62px;
    width: 100%;
    z-index: 100;
    // left: -250px;
    height: 20px;
    // width: 230px;
    filter: url(#goo);
  
    &__face,
    &__items {
      background-color: #fff;
      padding: 20px;
      // border-radius: 25px;
    }
  
    &__face {
      display: block;
      position: relative;
    }
  
    &__items {
      margin: 0;
      position: absolute;
      right: 0;
      top: 50px;
      width: 100%;
      list-style: none;
      list-style-type: none;
      display: block;
      // justify-content: space-between;
      visibility: hidden;
      z-index: -1;
      opacity: 0;
      transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
  
      &::before {
        content: "";
        background-color: #fff;
        position: absolute;
        bottom: 100%;
        right: 20%;
        height: 40px;
        width: 20px;
      }
    }
  
    &__arrow {
      border-bottom: 2px solid #000;
      border-right: 2px solid #000;
      position: absolute;
      top: 50%;
      right: 30px;
      width: 10px;
      height: 10px;
      // transform: rotate(45deg) translateY(-50%);
      transform-origin: right;
    }
  
    input {
      display: none;
  
      &:checked ~ .dropdown__items {
        top: calc(100% + 25px);
        visibility: visible;
        opacity: 1;
      }
    }
  }
  
  // body {
  //   background-image: linear-gradient(140deg, #e2e2e2, #cdcdcd);
  //   display: grid;
  //   place-items: center;
  //   font-family: "Lato", Arial, sans-serif;
  //   height: 100vh;
  //   margin: 0;
  // }
  
